# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Provider plugins & modules
.terraform.lock.hcl

# Sensitive output files
*.pem
*.key
